<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="http://192.168.0.185:8081/api-gateway-web/home/banner/1" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="http://192.168.0.185:8081/api-gateway-web/home/banner/2" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="http://192.168.0.185:8081/api-gateway-web/home/banner/3" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="http://192.168.0.185:8081/api-gateway-web/home/banner/4" alt="Fourth slide">
  </mdb-carousel-item>
</mdb-carousel>